* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f1f1f1;
  color: #333;
  line-height: 1.6;
}

header {
  background: #a85a11;
  color: white;
  text-align: center;
  padding: 2rem;
}

main {
  padding: 2rem;
}

section {
  margin-bottom: 2rem;
  background: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #c27c13;
  margin-bottom: 1rem;
}

ul {
  list-style: disc;
  margin-left: 2rem;
}

.galeria .imagens {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.galeria img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  border: 2px solid #c0810b;
}

footer {
  text-align: center;
  background: #e9a178;
  color: white;
  padding: 1rem;
}